.side_bar
  .side_bar__user
    .side_bar__user__name
      .side_bar__user__name__user_name
        Tom
      .icon
        =link_to '#' do
          =icon('fa', 'edit',class: 'icone')
        =link_to '#' do
          =icon('fa', 'cog',class: 'iconc')
        
        
  .side_bar__group
    .side_bar__group__group_team
      .side_bar__group__group_team__group_name
        hell
      .side_bar__group__group_team__group_message
        hi


